{% extends 'base.html' %}
{% load static %}
{% block title %}
| Dashbaord
{% endblock %}
{% block content %}

<!-- Message -->
{% include 'partials/_messages.html' %}
<h5 class="center-align">Welcome {{ user }}, to your dashboard.</h3>
  <div id="dashboard" class="row container center">
    {% if user_profile.0.is_aider == True %}
    <span class="breathing_space">
      <a href="{% url 'search_task' %}" class="waves-effect waves-light btn-large pink lighten-2">
        <i class="material-icons left">search</i>Task Search
      </a>
    </span>
    {% endif %}
    <span class="breathing_space">
      <a href="{% url 'task_list' %}" class="waves-effect waves-light btn-large pink lighten-2">
        <i class="material-icons left">format_list_numbered</i>My Tasks
      </a>
    </span>
    <span class="breathing_space">
      <a href="{% url 'create_task' %}" class="waves-effect waves-light btn-large pink lighten-2">
        <i class="material-icons left">add_box</i>Add Task
      </a>
    </span>
    <span class="breathing_space">
      <a href="{% url 'update_user_profile' user.id %}" class="waves-effect waves-light btn-large pink lighten-2">
        <i class="material-icons left">person</i>Update Profile
      </a>
    </span>
    <span class="breathing_space">
      <a href="{% url 'logout' %}" class="waves-effect waves-light btn-large pink lighten-2">
        <i class="material-icons left">pan_tool</i>Logout
      </a>
    </span>
  </div>
  {% endblock %}