{% extends 'base.html' %}
{% load static %}
{% load materializecss %}
{% block title %}
Dashboard
{% endblock %}

{% block content %}
<h2>User profile</h2> 
<h3>We just need a few more inforamtion before you can post you tasks</h3>

<form method="post"> 
  {% csrf_token %} 
  
  {{ form.city|materializecss}} 
  {{ form.post_code|materializecss}} 
  {{ form.is_aider|materializecss}} 
  {{ form.phone_number|materializecss}} 
  <input type="submit" value="SAVE" class="submit-btn"> 
</form>
{% endblock %}