{% extends 'base.html' %}
{% load static %}
{% load materializecss %}
{% block title %}
| User Profile
{% endblock %}

{% block content %}
<div class="container">
  <h5>User Profile</h5>
  <p>We just need a little more information before you can post your tasks</p>

  <form method="post">
    {% csrf_token %}
    <div class="tooltip"><label for="city">City</label><span class="tooltiptext">Please enter the city you live
        in.</span></div>
    {{ form.city }}
    <div class="tooltip"><label for="post_code">Post code</label><span class="tooltiptext">Please enter your
        post code / Eircode.</span></div>
    {{ form.post_code }}

    <div class="tooltip">{{ form.is_aider|materializecss }}<span class="tooltiptext">Please tick this box if you are and
        aide / assistant.</span></div><br>
    <div class="tooltip"><label for="phone_number">Phone number</label><span class="tooltiptext">Please enter
        your phone number.</span></div>
    {{ form.phone_number }}
    <button class="btn waves-effect waves-light pink lighten-2" type="submit" name="SAVE" value="SAVE">Save<i
        class="material-icons right">send</i></button>
  </form>
</div>
{% endblock %}