{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}

<!-- Message -->
{% include 'partials/_messages.html' %}
Index page
<form action="{% url 'index' %}" method="POST" class="container">
  {% csrf_token %}
  <label for="username">Username</label>
  <input type="text" name="username" id="username" required>
  <label for="password">Password</label>
  <input type="password" id="password" name="password" required>
  <input type="submit" value="SIGN IN" class="btn waves-effect waves-light"> 
</form>
<a href="{% url 'register' %}">
  <h4>Register</h4>
</a>
{% endblock %}