{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}

<!-- Message -->
{% include 'partials/_messages.html' %}

<div class="container">
  <div class="row center-align">

    <h2>Welcome to</h2>
    <h3>Elder Care Supreme!</h3>
    <img src="/static/images/PinkHeartNoBackground.png" class="heart-img" alt="heart">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
        

    <a href="{% url 'login' %}" class="btn waves-effect waves-light pink lighten-2">Login
      <i class="material-icons right">login</i>
    </a>
    <a href="{% url 'register' %}" class="btn waves-effect waves-light pink lighten-2">Register
      <i class="material-icons right">how_to_reg</i>
    </a>

  </div>
</div>

{% endblock %}