{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}

<!-- Message -->
{% include 'partials/_messages.html' %}

<div class="row">
  
  Welcome to Elder Care Supreme!
  <br>
  <button class="btn waves-effect waves-light pink lighten-2" type="button">Login
    <i class="material-icons right">login</i>
  </button>
  <button class="btn waves-effect waves-light pink lighten-2" type="button">Register
    <i class="material-icons right">how_to_reg</i>
  </button>

</div>

{% endblock %}