{% extends 'base.html' %}
{% load materializecss %}
{% load static %}
{% block title %}
| Create Task
{% endblock %}
{% block content %}
<div class="container">

  Create Task
  <form action="" method="POST">
    {% csrf_token %}
    {{ form.task_title|materializecss }}
    {{ form.category|materializecss }}
    <div class="tooltip"><label for="description">Description:</label><span class="tooltiptext">Please describe your task requirements in greater detail.</span></div>
    <textarea id="id_description" class="materialize-textarea" name="description" cols="40" rows="10" maxlength="300" spellcheck="false" required></textarea>
    <div class="tooltip"><label for="date">Date required:</label><span class="tooltiptext">Please select a date for your task.</span></div>
    <input id="id_date_required" name="date_required" type="text" class="datepicker no-autoinit" required>
    <div class="tooltip"><label for="time_required">Time optional:</label><span class="tooltiptext">Please select a time for your task if required.</span></div>
    <input id="id_time_required" name="time_required" type="text" class="timepicker no-autoinit">

    <button class="btn waves-effect waves-light pink lighten-2" type="submit" name="REGISTER" value="SUBMIT">Submit<i
        class="material-icons right">send</i>
    </button>
  </form>
</div>
{% endblock %}