{% extends 'base.html' %}
{% load static %}
{% block title %}
My Tasks
{% endblock %}

{% block content %}
My tasks
{% for task in tasks %}
<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ task.task_title }}</span>
        <span class="card-title">{{ task.category }}</span>
      </div>
      <div class="card-content">
        <p>{{ task.description }}</p>
      </div>
      <a href="{% url 'delete_task' task.id %}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
      <div class="card-action">
        <a href="{% url 'update_task' task.id %}">Edit task</a>
      </div>
      <div class="card-action">
        <p>Assigned aider</p>
        <a href="#">{{ task.aider }}</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>

{% endblock %}