{% extends 'base.html' %}
{% load static %}
{% block title %}
| Search Task
{% endblock %}

{% block content %}

<!-- Message -->
{% include 'partials/_messages.html' %}
<h5 class="center-align">Task Search</h3>
{% for task in tasks %}
  <div class="row container">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-content">
          <p class="task-created">{{ task.date_created|time:"G:i:s" }} - {{ task.date_created|date:"d-m-Y" }}</p>
          <span class="card-title"><b>{{ task.task_title }}</b></span>
          <p class="card-category"><i class="material-icons">{{ task.category.icon }}</i><b>{{ task.category }}</b></p>
        </div>
        <div class="card-content">
          <p><b >Description</b></p>
          <p>{{ task.description }}</p>
        </div>
        <div class="card-content card-contact">
          <div>
            <p><b>Location</b></p>
            <p>City/Town: {{ task.user.userprofile.city }}</p>
            <p>Post Code:  {{ task.user.userprofile.post_code }}</p>
            <p>Phone Number: {{ task.user.userprofile.phone_number  }}</p>
          </div>
          <div>
            <p><b>Date required</b></p>
            <p>{{ task.time_required|time:"G:i:s" }} - {{ task.date_required|date:"d-m-Y" }}</p>
          </div>
        </div>
        <a href="{% url 'aider' task.id %}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_add</i></a>
        <div class="card-action card-aider">
          {% if task.aider %}
            <p><b class="pinkish">Assigned Aider - {{ task.aider }}</b></p>
            <a class="pinkish" href="{% url 'aider' task.id %}"><i class="small material-icons">person</i>
            </a>
          {% else %}
            <p><b>No Assigned Aider</b></p>
            <a class="black-icon" href="{% url 'aider' task.id %}">
              <i class="small material-icons">person_add</i> 
            </a>
          {% endif %}
        </div>
        <div class="card-action">
          {% if task.message_count == 0 %}
            <p><b>Messages</b></p>
            <a class="black-icon" href="{% url 'message' task.id %}#chat-bottom">
              <i class="small material-icons">message</i>
            </a>
          {% else %}
            <p class="pinkish"><b>Messages</b></p>
            <a class="pinkish" href="{% url 'message' task.id %}#chat-bottom">
              <i class="small material-icons">message</i> <b>{{ task.message_count }}</b>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}

<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>

{% endblock %}