{% extends 'base.html' %}
{% load static %}
{% block title %}
Search
{% endblock %}

{% block content %}

<!-- Message -->
{% include 'partials/_messages.html' %}
<h5 class="center-align">Task Search</h3>
{% for task in tasks %}
  <div class="container">
    <div class="col s12 m10">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ task.task_title }}</span>
          <p><i class="material-icons">{{ task.category.icon }}</i>{{ task.category }}</p>
        </div>
        <div class="card-content">
          <p><b>Description</b></p>
          <p>{{ task.description }}</p>
        </div>
        <div class="card-content">
          <p><b>Location</b></p>
          <p>{{ task.user.userprofile.city }}</p>
          <p>{{ task.user.userprofile.post_code }}</p>
        </div>
        <a href="#" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">group_add</i></a>
        <div class="card-action">
          <p><b>Assigned aider</b></p>
          {% if task.aider %}
            <a href="#"><i class="medium material-icons">group_add</i>
              {{ task.aider }}
            </a>
          {% else %}
            <i class="medium material-icons">group_add</i>
          {% endif %}
        </div>
        <div class="card-action">
          <p><b>Messages</b></p>
          <a href="{% url 'message' task.id %}"><i class="medium material-icons">message</i></a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>

{% endblock %}