{% extends 'base.html' %}
{% load static %}
{% block title %}
| Login
{% endblock %}
{% block content %}

<!-- Message -->
{% include 'partials/_messages.html' %}
<div class="container">
  <h5>Login Page</h5>
  <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="input-field">
        <div class="tooltip"><label for="username">Username:</label><span class="tooltiptext">Please enter your
            username, the same one you used when you registered.</span></div>
        <input type="text" name="username" id="username" required>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <div class="tooltip"><label for="password">Password:</label><span class="tooltiptext">Please enter your
            password, the same one you used when you registered.</span></div>
        <input type="password" id="password" name="password" required>
      </div>
    </div>
    <div class="login-btn-wrapper">
      <div>
        <button class="btn waves-effect waves-light pink lighten-2" type="submit" name="SIGN IN" value="SIGN IN">Login
          <i class="material-icons right">send</i>
        </button>
        
      </div>
      <div>
        <a class="btn waves-effect waves-light pink lighten-2 modal-trigger" href="{%url 'password_reset'%}">Forgot
          password?<i class="material-icons right">contact_support</i></a>
      </div>
    </div>
  </div>
  </form>
  </div>
{% endblock %}