<footer>
    <div class="footer-copyright pink lighten-2 white-text container">
        <div class="container center-align"><a class="modal-trigger" href="#team">&copy; 2020 Hackathon Advanced Team 'A'</a></div>
    </div>
        <div class="container">
            <div id="team" class="modal">
                <div class="modal-content">
                    <ul class="tabs pink lighten-2 center">
                        <li class="tab">
                            <a href="#group" class="active pink lighten-2 white-text">Team</a>
                        </li>
                        <li class="tab">
                            <a href="#toby" class="active pink lighten-2 white-text">Toby</a>
                        </li>
                        <li class="tab">
                            <a href="#mark" class="active pink lighten-2 white-text">Mark</a>
                        </li>
                        <li class="tab">
                            <a href="#frances" class="active pink lighten-2 white-text">Frances</a>
                        </li>
                        <li class="tab">
                            <a href="#ayo" class="active pink lighten-2 white-text">Ayo</a>
                        </li>
                        <li class="tab">
                            <a href="#rawa" class="active pink lighten-2 white-text">Rawa</a>
                        </li>
                        <li class="tab">
                            <a href="#gaff" class="active pink lighten-2 white-text">Gaff</a>
                        </li>
                        <li class="tab">
                            <a href="#code" class="active pink lighten-2 white-text">Code</a>
                        </li>
                    </ul>
                    <div id="group" class="flow-text">
                        <p class="flow-text pink-text text-lighten-2">Hackathon Advanced Team 'A'</p>
                        <p><img src="/static/images/ElderCareSupremeLogo.png" height="150"></p>
                        <p>ElderCareSupreme application enables the elderly to ask for help with their daily tasks.</p>
                    </div>
                    <div id="toby" class="flow-text">
                        <p class="flow-text pink-text text-lighten-2">Tobiasz Chodarewicz - "Toby"</p>
                        <p><img src="/static/images/Toby.jpeg" height="150"></p>
                        <p>Code Institute Alumni, our back-end lead and specialist using Python, Django, and PostgreSQL.</p>
                    </div>
                    <div id="mark" class="flow-text">
                        <p class="flow-text pink-text text-lighten-2">Mark Dyson</p>
                        <p><img src="/static/images/Mark.jpeg" height="150"></p>
                        <p>Code Institute Alumni, our documentaion and Use Case specialist, aiding in design and testing.</p>
                    </div>
                    <div id="frances" class="flow-text">
                        <p class="flow-text pink-text text-lighten-2">Frances Vugts</p>
                        <p><img src="/static/images/Frances.jpeg" height="150"></p>
                        <p>Code Institute Learner, front-end specialist using Materialize and custom CSS/HTML, aiding in design and testing.</p>
                    </div>
                    <div id="ayo" class="flow-text">
                        <p class="flow-text pink-text text-lighten-2">Ayotunde Akinsola</p>
                        <p><img src="/static/images/Ayo.jpeg" height="150"></p>
                        <p>Code Institute Alumni, recently married and off to his honeymoon, aiding in design and testing.</p>
                    </div>
                    <div id="rawa" class="flow-text">
                        <p class="flow-text pink-text text-lighten-2">Rawa Aref</p>
                        <p><img src="/static/images/Rawa.jpeg" height="150"></p>
                        <p>Code Institute Alumni, back-end specialist creating the password reset feature, aiding in design and testing.</p>
                    </div>
                    <div id="gaff" class="flow-text">
                        <p class="flow-text pink-text text-lighten-2">Naoise Gaffney - "Gaff"</p>
                        <p><img src="/static/images/Gaff.png" height="150"></p>
                        <p>Code Institute Learner, front-end lead and specialist using Materialize and custom CSS/HTML. Team coordinator and UX Designer.</p>
                    </div>
                    <div id="code" class="flow-text">
                        <p class="flow-text pink-text text-lighten-2">Code on GitHub</p>
                        <p>All our efforts in creating this application to aid the elderly in getting daily tasks done, is available on our GitHub Repository.</p>
                        <p><a href="https://github.com/NaoiseGaffney/ElderCareSupreme" target="_blank" class="pink lighten-2 waves-effect">Link to Elder Care Supreme Repository on GitHub.</a></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close btn waves-effect waves-light pink lighten-2">Thank You!<i
                            class="material-icons right">thumb_up</i></a>
                </div>
            </div>
    
        </div>
</footer>