<footer>
    <div class="footer-copyright pink lighten-2 white-text container">
        <div class="container center-align"><a class="modal-trigger" href="#team">&copy; 2020 Hackathon Advanced Team 'A'</a></div>
    </div>
        <div class="container">
            <div id="team" class="modal">
                <div class="modal-content">
                    <ul class="tabs">
                        <li class="tab col s6">
                            <a href="#group" class="active pink lighten-2 white-text">Team</a>
                        </li>
                        <li class="tab col s6">
                            <a href="#toby" class="active indigo-text text-darken-4">Toby</a>
                        </li>
                        <li class="tab col s6">
                            <a href="#mark" class="indigo-text text-darken-4">Mark</a>
                        </li>
                        <li class="tab col s6">
                            <a href="#frances" class="indigo-text text-darken-4">Frances</a>
                        </li>
                        <li class="tab col s6">
                            <a href="#ayo" class="indigo-text text-darken-4">Ayo</a>
                        </li>
                        <li class="tab col s6">
                            <a href="#rawa" class="indigo-text text-darken-4">Rawa</a>
                        </li>
                        <li class="tab col s6">
                            <a href="#gaff" class="indigo-text text-darken-4">Gaff</a>
                        </li>
                        <li class="tab col s6">
                            <a href="#code" class="indigo-text text-darken-4">Code</a>
                        </li>
                    </ul>
                    <div id="group" class="col s12">
                        <p class="flow-text indigo-text text-darken-4">Hackathon Advanced Team 'A'</p>
                        <p><img src="/static/images/ElderCareSupremeLogo.png" height="100"></p>
                        <p>ElderCareSupreme application enables the elderly to ask for help with their daily tasks.</p>
                    </div>
                    <div id="toby" class="col s12">
                        <p class="flow-text indigo-text text-darken-4">Tobiasz Chodarewicz - "Toby"</p>
                        <p><img src="/static/images/Toby.jpeg" height="100"></p>
                        <p>Code Institute Alumni, our back-end specialist using Python, Django, and PostgreSQL.</p>
                    </div>
                    <div id="mark" class="col s12">
                        <p class="flow-text indigo-text text-darken-4">Mark Dyson</p>
                        <p><img src="/static/images/Mark.jpeg" height="100"></p>
                        <p>Code Institute Alumni, our documentaion and Use Case specialist, aiding in design and testing.</p>
                    </div>
                    <div id="frances" class="col s12">
                        <p class="flow-text indigo-text text-darken-4">Frances Vugts</p>
                        <p><img src="/static/images/Frances.jpeg" height="100"></p>
                        <p>Code Institute Learner, front-end specialist using Materialize and custom CSS/HTML, aiding in design and testing.</p>
                    </div>
                    <div id="ayo" class="col s12">
                        <p class="flow-text indigo-text text-darken-4">Ayotunde Akinsola</p>
                        <p><img src="/static/images/Ayo.jpeg" height="100"></p>
                        <p>Code Institute Alumni, recently married and off to his honeymoon, ...</p>
                    </div>
                    <div id="rawa" class="col s12">
                        <p class="flow-text indigo-text text-darken-4">Rawa Aref</p>
                        <p><img src="/static/images/Rawa.jpeg" height="100"></p>
                        <p>Code Institute Alumni, ..., aiding in design and testing.</p>
                    </div>
                    <div id="gaff" class="col s12">
                        <p class="flow-text indigo-text text-darken-4">Naoise Gaffney - "Gaff"</p>
                        <p><img src="/static/images/Gaff.png" height="100"></p>
                        <p>Code Institute Learner, front-end specialist using Materialize and custom CSS/HTML, aiding in design and testing. Team coordinator.</p>
                    </div>
                    <div id="code" class="col s12">
                        <p class="flow-text indigo-text text-darken-4">Code on GitHub</p>
                        <p>All our efforts in creating this application to aid the elderly in getting daily tasks done, is available on our GitHub Repository.</p>
                        <p><a href="https://github.com/NaoiseGaffney/ElderCareSupreme" target="_blank" class="pink lighten-2 waves-effect">Link to Elder Care Supreme Repository on GitHub.</a></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close btn waves-effect waves-light pink lighten-2">Thank You!<i
                            class="material-icons right">thumb_up</i></a>
                </div>
            </div>
    
        </div>
</footer>