{% if messages %}
    {% for message in messages %}
    <div class="container center-align">
      <div id="message" class="chip
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          error-message 
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          success-message 
        {% else %}
          other-message 
        {% endif %}
      ">
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          Error:
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          Success! 
        {% else %}
          {{ message.tags|title }}
        {% endif %}
        {{ message }}
        <i class="close material-icons">close</i>
      </div>
    </div>
    {% endfor %}
{% endif %}