{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
<div class="container">
<div class="col s12">
<h3>Password reset sent</h3>
<p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
</div>
</div>
<!-- Message -->
{% include 'partials/_messages.html' %}

{% endblock %}