{% extends 'base.html' %}

{% load static %}
{% block title %}
| Create Task
{% endblock %}
{% block content %}
<div class="breadcrumb-wrapper row container">
  <div class="col s12">
    <a href="{% url 'index' %}" class="breadcrumb">Home</a>
    <a href="{% url 'dashboard' %}" class="breadcrumb">Dashboard</a>
    <a href="{% url 'task_list' %}" class="breadcrumb">My Tasks</a>
    <a class="breadcrumb breadcrumb-current">Create Task</a>
  </div>
</div>
{% include "partials/_django_messages.html" %}
<div class="container">
  <h5>Add Task</h5>
  <form action="" method="POST">
    {% csrf_token %}
    
    <div class="tooltip">
      <label class="" for="id_task_title">Title:</label>
      <span class="tooltiptext">Please enter the title of your task.</span>
    </div>
    <input type="text" name="task_title" maxlength="30" required="" id="id_task_title">
    <div class="tooltip">
      <label class="" for="id_category">Category:</label>
      <span class="tooltiptext">Please select a suitable category for your task.</span>
    </div>
    {{ form.category }}
    <div class="tooltip">
      <label for="description">Description:</label>
      <span class="tooltiptext">Please describe your task requirements in greater detail.</span>
    </div>
    <textarea id="id_description" type="text" class="materialize-textarea" name="description" cols="40" rows="10" maxlength="300" spellcheck="false" required></textarea>
    <div class="tooltip">
      <label for="date">Date required:</label>
      <span class="tooltiptext">Please select a date for your task.</span>
    </div>
    <input id="id_date_required" name="date_required" type="text" class="datepicker no-autoinit" required>
    <div class="tooltip">
      <label for="time_required">Time optional:</label>
      <span class="tooltiptext">Please select a time for your task if required.</span>
    </div>
    <input id="id_time_required" name="time_required" type="text" class="timepicker no-autoinit">
    <button class="btn waves-effect waves-light pink lighten-2" type="submit" name="REGISTER" value="SUBMIT">Submit<i
        class="material-icons right">send</i>
    </button>
  </form>
</div>
{% endblock %}