{% extends 'base.html' %}
{% load materializecss %}
{% load static %}
{% block title %}
| Update Task
{% endblock %}
{% block content %}
<div class="breadcrumb-wrapper row container">
  <div class="col s12">
    <a href="{% url 'index' %}" class="breadcrumb">Home</a>
    <a href="{% url 'dashboard' %}" class="breadcrumb">Dashboard</a>
    <a href="{% url 'task_list' %}" class="breadcrumb">My Tasks</a>
    <a class="breadcrumb breadcrumb-current">Update Task</a>
  </div>
</div>
{% include "partials/_django_messages.html" %}
Create Task
<form action="" method="POST">
  {% csrf_token %}
  {{ form.task_title|materializecss }}
  {{ form.category|materializecss }}
  {{ form.description|materializecss }}
  {{ form.date_required|materializecss }}
  <div class="tooltip">
    <label for="time_required">Time optional:</label>
    <span class="tooltiptext">Please select a time for your task if required.</span>
  </div>
  <input id="id_time_required" name="time_required" type="text" class="timepicker no-autoinit">
  <button class="btn waves-effect waves-light pink lighten-2" type="submit" name="REGISTER"
        value="SUBMIT">Submit
        <i class="material-icons right">send</i>
  </button>
</form>

{% endblock %}