{% extends 'base.html' %}
{% load static %}
{% block title %}
| Task
{% endblock %}
{% block content %}
<div class="breadcrumb-wrapper row container">
  <div class="col s12">
    <a href="{% url 'index' %}" class="breadcrumb">Home</a>
    <a href="{% url 'dashboard' %}" class="breadcrumb">Dashboard</a>
    <a href="{% url 'search_task' %}" class="breadcrumb">Search Task</a>
    <a class="breadcrumb breadcrumb-current">Messages</a>
  </div>
</div>
<div id="chat-messages-wrapper" class="row container">
  {% for message in get_messages %}
    <div class="chip
    {% if message.user == user %}
      user-post
    {% else %}
      guest-post
    {% endif %}
    ">
      <p>{{ message.message }}</p>
      <div class="chat-footer">
        <p class="chat-user">
          <i class="small material-icons">face</i> 
          <span>{{ message.user }}</span>
        </p>
        <p class="chat-date">{{ message.date_created|time:"G:i:s" }} - {{ message.date_created|date:"d-m-Y" }}</p>
      </div>
    </div>
  {% endfor %}
</div>
<div id="chat-message-form" class="row container">
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="input-field col s12">
        <textarea id="chat-message" name="chat-message" class="materialize-textarea" data-length="300"></textarea>
        <label for="chat-message">Message</label>
      </div>
    </div>
    <div class="row" id="message-chatt-button">
      <button class="btn waves-effect waves-light pink lighten-2" type="submit" name="REGISTER" value="SEND">SEND<i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
<div id="chat-bottom" name="chat-bottom"></div>
{% endblock %}