{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}

<!-- Message -->
{% include 'partials/_messages.html' %}
<section id="index">
  <div class="center-align">
    <h3>Welcome to <span>Elder Care Supreme!</span> </h3>
  </div>
  <div class="center-align" data-aos="zoom-in" data-aos-anchor-placement="center-bottom" data-aos-duration="2800">
    <img id="heart" src="/static/images/PinkHeartNoBackground.png" class="heart-img" alt="heart">
  </div>
  <div class="intro-text center-align">
    <p data-aos="fade-up" data-aos-duration="1400" data-aos-anchor-placement="center-bottom">Elder Care Supreme is a service for the elderly requiring help with </p>
    <p data-aos="fade-up" data-aos-duration="2000" data-aos-anchor-placement="center-bottom">daily chores, aided by volunteers who have the ability to provide</p> 
    <p data-aos="fade-up" data-aos-duration="2600" data-aos-anchor-placement="center-bottom">the necessary professional services.</p> 
  </div>
  <a id="index-help" data-aos="fade-up" data-aos-duration="2800" data-aos-anchor-placement="center-bottom" class="btn waves-effect waves-light pink lighten-2 modal-trigger" href="#help">Help<i
      class="material-icons right">contact_support</i></a>
</section>
<aside>
  <div class="container">
    <div id="help" class="modal">
      <div class="modal-content">
        <h4>Instructions</h4>
        <p>The Elder Care Supreme application enables you to ask for help with your daily chores.</p><br>
        <p>To access your dashboard, to add and select the daily tasks you want help with, please login on this page
          using your 'Username' and 'Password' that you created when you registered your account.</p><br>
        <p>If you do not have an account, please register clicking on the 'Register' button on the top right of this
          page. When you register, please provide the following details:
        <ul class="modal-list">
          <li>Your 'Username', whatever you wish to call yourself.</li>
          <li>Your 'First name', so we can address you properly when helping you with your daily tasks.</li>
          <li>Your 'E-mail' address, to communicate with you, and also used for password reset in case you have
            forgotten your password.</li>
          <li>Your 'Password', used togther wiht your 'Username' to access your dashboard of daily tasks.</li>
          <li>Please confirm your password by entering it again in 'Password confirmation'.</li>
          <li>When you are ready, click on the 'Register' button to login with your 'Username' and 'Password'.</li>
        </ul>
        </p><br>
        <p>Your dashboard contains a selection of common daily tasks that you may want help with. You can add your own
          tasks too. Select the task you need help with, fill out the details and...</p><br>
        <p>When you are done, you may 'Logout' from this application.</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close btn waves-effect waves-light pink lighten-2">I Understand<i
            class="material-icons right">thumb_up</i></a>
      </div>
    </div>
  </div>
</aside>
{% endblock %}

{% block js %}
<script>
  setTimeout(function() {
    var heart = $("#heart");
    heart.addClass("heartbeat") 
  }, 2700);
  AOS.init();
</script>
{% endblock %}