{% extends 'base.html' %}
{% load static %}
{% block title %}
Register
{% endblock %}

{% block content %}
<div class="row container">


  <form method="post">
    {% csrf_token %}
    <div class="row">
    {{ form.as_p }}
    <!-- <input type="submit" value="REGISTER" class="register-btn"> -->
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light pink lighten-2" type="submit" name="REGISTER"
        value="REGISTER">Register<i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
{% endblock %}