@import url('https://fonts.googleapis.com/css?family=Raleway|&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #FBF8EF;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding-bottom: 1.5rem;
}

/* Materialze 1.0.0 Modifications and Overrides */
input:focus {
    border-bottom: 1px solid #f06292 !important;
    box-shadow: 0 1px 0 0 #f06292 !important;
}

label.active {
    color: #f06292 !important;
}

#matnavbar {
    color: #f06292;
}

.modal,
.modal-footer {
    background-color: #FBF8EF !important;
    font-family: 'Raleway', sans-serif;
    /* width: fit-content; */
}

ul>li {
    padding-left: 1rem;
}

.heart-img {
    width: 65%;
}

footer {
    margin-top: auto;
    padding-top: 1.5rem;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}