@import url('https://fonts.googleapis.com/css?family=Raleway|&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #FBF8EF;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding-bottom: 1.5rem;
}

/* Materialze 1.0.0 Modifications and Overrides */
/* Messages Pop up */

.success-message {
  text-align: center;
  background: aquamarine;
  color: black;
  font-size: 1rem;
  font-weight: 600;
}

.error-message {
  text-align: center;
  background: crimson;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.other-message {
  text-align: center;
  background: #ffac16;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

/* Chat messages */
#chat-message-form {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #fbf8ef;
  bottom: -20px;
  z-index: 10;
  border-top: solid 1px #f06292;
}

#chat-messages-wrapper {
  display: flex;
  flex-direction: column;
}

#chat-messages-wrapper .chip {
  width: fit-content;
  max-width: 60%;
  height: fit-content;
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
}

#chat-messages-wrapper div.chip:last-child {
  margin-bottom: 165px;
}

#chat-messages-wrapper .chip>div {
  display: flex;
  justify-content: space-between;
}

.chat-date {
  font-size: 0.8rem;
}

.chat-user {
  font-size: 1rem;
  display: flex;
  margin-right: 30px;
}

.chat-user span {
  margin-left: 5px;
}

.user-post {
  background-color: #f06292;
  margin-left: auto;
  color: #fff;
}

.guest-post {
  background-color: #e4e4e4;
}

/* Task card */
.task-created {
  text-align: end;
  font-weight: 600;
  color: #f06292;
}

.card-content .card-title b {
  font-weight: 600;
  text-transform: uppercase;
}

.card-category {
  font-weight: 600;
  color: #f06292;
  text-transform: uppercase;
}

.card-contact {
  display: flex;
  justify-content: space-between;
}

.card-contact div:last-child {
  margin-left: 30px;
  text-align: end;
  font-weight: 600;
  color: #f06292;
}

.black-icon {
  color: #000 !important;
}

.pinkish {
  color: #f06292 !important;
}

/* Dashboard */
#dashboard {
  display: flex;
  flex-direction: column;
}

#dashboard a {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.breathing_space {
  padding-bottom: 1rem;
}

/* Search Task */
#search-form button {
  margin-top: 22px;
}


input:focus {
  border-bottom: 1px solid #f06292 !important;
  box-shadow: 0 1px 0 0 #f06292 !important;
}

label.active {
  color: #f06292 !important;
}

#matnavbar {
  color: #f06292;
}

/* Modal Colour Schemes to Match Elder Care Supreme UX Design */
.modal,
.modal-footer {
  background-color: #FBF8EF !important;
  font-family: 'Raleway', sans-serif;
}

ul>li {
  padding-left: 1rem;
}

.heart-img {
  width: 40%;
}

.intro-text {
  padding: 1rem;
}

.intro-btn {
  margin: 0.5rem;
}

footer {
  margin-top: auto;
  padding-top: 1.5rem;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

/* ToolTip and ToolTipText position and colour scheme */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  top: 100%;
  left: 80%;
  margin-left: -20px;
  background-color: purple;
  color: #fff;
  text-align: center;
  padding: 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 2;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Datepicker and Timepicker Displays to Align to Colour Scheme */
.datepicker-date-display,
.timepicker-digital-display {
  background-color: #f06292;
}

.datepicker-day-button:focus,
.timepicker-canvas-bg:focus {
  color: white !important;
  background-color: #f06292;
}

.datepicker-done,
.datepicker-cancel,
.select-dropdown li>span,
.is-today {
  color: #f06292 !important
}

td.is-selected,
.month-prev:active,
.month-prev:focus,
.month-next:active,
.month-next:focus {
  background-color: #f06292 !important
}

td.is-selected.is-today {
  color: rgb(255, 255, 255) !important
}

/* Timepicker Containers */
.timepicker-tick.active,
.timepicker-tick:hover {
  background-color: #f06292;
}

.timepicker-canvas line {
  stroke: #f06292;
}

.timepicker-canvas-bearing,
.timepicker-canvas-bg {
  stroke: none;
  fill: #f06292;
}

/* Timepicker Footer 'Cancel' and 'OK' */
.timepicker-clear {
  color: #f06292;
}

.timepicker-close {
  color: #f06292;
}

/* Text Form Input */
/* label color */
.input-field label,
label {
  color: #000;
  /* color: #f06292; */
}

/* label focus color */
.input-field input[type=text]:focus+label {
  color: #f06292;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #f06292;
  box-shadow: 0 1px 0 0 #000;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #f06292;
  box-shadow: 0 1px 0 0 #000;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #f06292;
  box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}