@import url('https://fonts.googleapis.com/css?family=Raleway|&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #FBF8EF;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding-bottom: 1.5rem;
}

h5,
h5+p {
  padding-bottom: 1rem;
}

/* Messages Pop up */

.success-message {
  text-align: center;
  background: aquamarine;
  color: black;
  font-size: 1rem;
  font-weight: 600;
}

.error-message {
  text-align: center;
  background: crimson;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.other-message {
  text-align: center;
  background: #ffac16;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

/* Breadcrumb */
.breadcrumb {
  color: #f06292;
  font-weight: 600;
  font-size: 1rem;
}

.breadcrumb::before {
  color: #f06292;
  margin-top: -8px;
}

.breadcrumb-current {
  color: #000 !important;
}

.breadcrumb-wrapper {
  padding-left: 0;
}

.breadcrumb-wrapper > .col.s12 {
  padding-left: 0;
}

/* Login */
.login-btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.login-btn-wrapper div:first-child {
  display: flex;
}

.login-btn-wrapper button {
  margin: 0 10px 10px 0;
}

/* Chat messages */
#chat-message-form {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #fbf8ef;
  bottom: -20px;
  z-index: 10;
  border-top: solid 1px #f06292;
}

#chat-messages-wrapper {
  display: flex;
  flex-direction: column;
}

#chat-messages-wrapper .chip {
  width: fit-content;
  max-width: 60%;
  height: fit-content;
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
}

#chat-messages-wrapper div.chip:last-child {
  margin-bottom: 165px;
}

#chat-messages-wrapper .chip>div {
  display: flex;
  justify-content: space-between;
}

.chat-date {
  font-size: 0.8rem;
}

.chat-user {
  font-size: 1rem;
  display: flex;
  margin-right: 30px;
}

.chat-user span {
  margin-left: 5px;
}

.user-post {
  background-color: #f06292;
  margin-left: auto;
  color: #fff;
}

.guest-post {
  background-color: #e4e4e4;
}

/* Task card */
#fixed-message {
  position: fixed;
  display: none;
  z-index: 10;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
}

.task-created {
  text-align: end;
  font-weight: 600;
  color: #f06292;
}

.card-content .card-title b {
  font-weight: 600;
  text-transform: uppercase;
}

.card-category {
  font-weight: 600;
  color: #f06292;
  text-transform: uppercase;
}

.card-contact {
  display: flex;
  justify-content: space-between;
}

.card-contact div:last-child {
  margin-left: 30px;
  text-align: end;
  font-weight: 600;
  color: #f06292;
}

.card-category i {
  position: relative;
  top: 5px;
  margin-right: 10px;
}

.black-icon {
  color: #000 !important;
}

.pinkish {
  color: #f06292 !important;
}

.add-aider-btn-wrapper {
  position: relative;
}

.add-aider-btn {
  position: absolute;
}

.pink-btn {
  background-color: #f06292;
}

.is_done_pink {
  background-color: #f06292;
}

.is_done_grey {
  background-color: #cecece;
} 

.done-btn {
  margin-right: 140px;
}

.edit-btn {
  margin-right: 70px;
}

.slide-in-elliptic-left-fwd {
  -webkit-animation: slide-in-elliptic-left-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-elliptic-left-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#message-chatt-button {
  padding-bottom: 1rem;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-7 19:14:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation slide-in-elliptic-left-fwd 
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-left-fwd {
  0% {
    -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
    transform: translateX(-800px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 1800px 50%;
    transform-origin: 1800px 50%;
    opacity: 1;
  }
}

@keyframes slide-in-elliptic-left-fwd {
  0% {
    -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
    transform: translateX(-800px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 1800px 50%;
    transform-origin: 1800px 50%;
    opacity: 1;
  }
}

/* Dashboard */
#dashboard {
  display: flex;
  flex-direction: column;
}

#dashboard a {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.breathing_space {
  margin-bottom: 1rem;
}

/* Search Task */
#search-form button {
  margin-top: 22px;
}


input:focus {
  border-bottom: 1px solid #f06292 !important;
  box-shadow: 0 1px 0 0 #f06292 !important;
}

label.active {
  color: #f06292 !important;
}

#matnavbar {
  color: #f06292;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
}

.pagination .active {
  background-color: #f06292 !important;
}

.pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 30px;
}

.pagination-arrow > a {
  position: relative;
  top: 4px;
}

.pagination-arrow > i {
  position: relative;
  top: 0;
}

/* Index page  */
#index {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: calc(100vh - 64px - 64px);
}

.heart-img {
  height: 30vh;
}

#index-help {
  max-width: 400px;
  margin: auto;
}

.intro-text {
  font-size: 1.5rem;
  margin-top: 20px;
}

.heartbeat {
	-webkit-animation: heartbeat 2s ease-in-out infinite both;
	        animation: heartbeat 2s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-8 20:39:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


/* Modal Colour Schemes to Match Elder Care Supreme UX Design */
.modal,
.modal-footer {
  background-color: #FBF8EF !important;
  font-family: 'Raleway', sans-serif;
}

ul>li {
  padding-left: 1rem;
}



.intro-text {
  padding: 1rem;
}

.intro-btn {
  margin: 0.5rem;
}

footer {
  margin-top: auto;
  padding-top: 1.5rem;
  z-index: 10;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

/* ToolTip and ToolTipText position and colour scheme */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  top: 100%;
  left: 80%;
  margin-left: -20px;
  background-color: purple;
  color: #fff;
  text-align: center;
  padding: 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 2;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Datepicker and Timepicker Displays to Align to Colour Scheme */
.datepicker-date-display,
.timepicker-digital-display {
  background-color: #f06292;
}

.datepicker-day-button:focus,
.timepicker-canvas-bg:focus {
  color: white !important;
  background-color: #f06292;
}

.datepicker-done,
.datepicker-cancel,
.select-dropdown li>span,
.is-today {
  color: #f06292 !important
}

td.is-selected,
.month-prev:active,
.month-prev:focus,
.month-next:active,
.month-next:focus {
  background-color: #f06292 !important
}

td.is-selected.is-today {
  color: rgb(255, 255, 255) !important
}

/* Timepicker Containers */
.timepicker-tick.active,
.timepicker-tick:hover {
  background-color: #f06292;
}

.timepicker-canvas line {
  stroke: #f06292;
}

.timepicker-canvas-bearing,
.timepicker-canvas-bg {
  stroke: none;
  fill: #f06292;
}

/* Timepicker Footer 'Cancel' and 'OK' */
.timepicker-clear {
  color: #f06292;
}

.timepicker-close {
  color: #f06292;
}

/* Text Form Input */
/* label color */
.input-field label,
label {
  color: #000;
  /* color: #f06292; */
}

/* label focus color */
.input-field input[type=text]:focus+label {
  color: #f06292;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #f06292;
  box-shadow: 0 1px 0 0 #000;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #f06292;
  box-shadow: 0 1px 0 0 #000;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #f06292;
  box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #f06292;
  box-shadow: 0 1px 0 0 #f06292;
}

.btn-floating:hover {
  background-color: purple;
}

@media only screen and (max-width: 800px) {
  .intro-text {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 680px) {
  #index h3 {
    font-size: 2rem;
    padding: 0 10px;
  }
  #index h3 > span {
    white-space: nowrap;
  }
}

@media only screen and (max-width: 635px) {
  .intro-text {
    font-size: 1.2rem;
    width: 100%;
    padding: 0 2px;
    font-weight: 600;
  }
}


@media only screen and (max-width: 560px) {
  .intro-text {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 500px) {
  .intro-text {
    font-size: 0.9rem;
    font-weight: 600;
  }
  #index h3 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 380px) {
  .intro-text {
    font-size: 0.7rem;
    font-weight: 400;
  }
}

@media only screen and (max-width: 520px) {
  .login-btn-wrapper {
    display: flex;
    flex-direction: column;
  }
}
